/* DETAIL EVENT */





.dataTables_wrapper{
    margin-top:30px;
}




.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}


.tb-det .glyphicon {
    margin-top: -6px;
}
.red-error{
    color: red;
}

.bd-absen{
    height: 80px;
    padding: 12px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.mdl-vw-pn{
    background:white;
}

.mdl-vm-pn-bd{
    padding: 20px;
}

#detabsensipani_wrapper{
    margin-top: 0px !important;
}

.bd-absen .control-label{
    margin-top: 6px;
    margin-right: -72px;
}

.tb-det span {
    font-size: 15px;
    padding: 5px 0px 0px 7px;
}
.nav-tabs>li>a {
    border-radius: 0px;
}
.nav-tabs{
    background: #eaeaea;
}

@media( max-width : 585px ){
    
    .board {
width: 90%;
height:auto !important;
}
    span.round-tabs {
        font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
    }
    .tab-content .head{
        font-size:20px;
        }
    .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}




i {  vertical-align: middle; }
.table-users tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.nav-user-photo {
     vertical-align: middle;
}
.pani-list td{
	vertical-align: middle !important;
}

.pani-list img{
	margin-top: 22px;
}

.btn-det-e{
	margin-bottom: 20px;
}

.container-det-tab{
	width: 100%;
}


.icon-warning{
	text-align: center;;
}

.tab-pane{
	padding: 10px 30px 30px 30px;	
}

.icon-warning .fa{
	font-size: 50px;
    text-align: center;
    color: #f39c12 !important;
}

.error-text h2{
	text-align: center;
}

.modal-footer-center{
	text-align: center;
}

.modal-footer-center .btn{
	width:100px;
}
.actionth{
	text-align: center;
}


.td-r{
	font-weight: normal !important;
}

.tab-content{
    min-height: 550px;
}

#detevent_tab td{
	font-weight: 900;
}

.action{
	vertical-align: middle !important;
	text-align:center !important;
}

.btn-ac, .btn-ac-d{
	display: inline-flex;
    text-align: center;
}

.btn-ac .btn-warning,.btn-ac .btn-success, .btn-ac-d .btn-danger {
	margin-right: 6px;
}

 /*.skin-purple .main-header .navbar, .skin-purple .main-header .logo  {
	background-color:greenyellow !important;
}  

 
.skin-purple .main-sidebar {
    background-color: red !important;
} */